body {
    background-color:black;
    margin: 0;
}

#bigguy {
    width: 100vw;
    height:100%;
    left:-33vw;
    position:absolute;
}

#textBox {
    outline: none;
    border:none;
    background-color: transparent;
}
